Source: create-ap
Maintainer: Alexandre Chataignon <alexandre.chataignon@wyca.fr>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: create-ap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Create an AP...
